footer  {          
    width: 100%;
    text-align: center;
    background: #333333;
    color: #fff;
     
    min-height: calc(100vh -25% -50%);
    
    
}           
footer  [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 35px;
    padding: 2px;
    background: white;
    border-radius: 50%;
    
    width: 50px;
    height: 50px;

    line-height: 55px;
  }
