:root{--bg-image-form:url(/-1-FrontEnd/imagenes/Super/loquenecesitas.jpg);;
}
body{ 
display: flex;
justify-content: center;
gap: 4%;
margin: 0;
background-image: var(--bg-image-form);

background-size: cover;
background-repeat: no-repeat;
object-fit: contain;
}
 
.Account__title{
                
                letter-spacing: 0.1em;
                font-style: oblique;
                font-style: italic;
                font-weight: lighter;
                text-decoration: underline #fff;

                background: linear-gradient(to bottom right,
                white,#fb4 100%);
            
                border-top-left-radius: 20%;
                border-top-right-radius:50%;
                border-left: solid 0.1px;
                border-bottom-left-radius:50%;
                }
 
.section-Account{
 
padding:1%;
background: rgba(0, 0, 0, 0.3);
display: flex;
flex-wrap: wrap;
width: 40%;
height: 90%;
justify-content: center;
opacity: 0.6;
background-image: var(--bg-image-form);

background-size: cover;
background-repeat: no-repeat;
object-fit: contain;
}
 
.Create__item{
    width: 90%;
    margin:1%;
    padding:3%;
    text-align:center;}

.Create__item-select{
    width: 97%;
    margin:1%;
    padding:3%;
    text-indent: 40%;
}

.Create__item-select-fechnac{
    width: 90%;
    margin:1%;
    padding:3%;
    text-align: center;
    text-indent:15%;
}


.Create__item-select-enviar{
   
    width: 97%;
    margin:1%;
    padding:3%; }

.Create__item-select-enviar:hover{
    transform: scale(1.1);
}

.form__fondo{
    position: absolute;
    height: 160vh;
    margin: 0;
    padding: 0;
    width: 100%; z-index: -1;}


 
