/*modificadores*/
.--boton{
    padding:0% 26% 32% 26%;
    background: rgba(0, 0, 0, 0.3);
    border:none;color:#fff;
    font-style:oblique;
    font-variant-caps:small-caps;
    font-style: italic;
    font-size:100%;
}
.--boton:hover{
padding:0% 26% 32% 26%;

cursor: pointer;
background: rgba(0, 0, 0, 0.7);
}

.menu-list:nth-child(4) .menu__item:nth-child(3) {background:transparent;}
.menu-list:nth-child(4) .menu__item:nth-child(3):hover{cursor: none;}
.--texto-inclinado{
 font-style: oblique;
 font-variant-caps:small-caps ;
}
/*bloques*/

body{background:#fb4;
    margin: 0;
    padding:0;}
.head{ }
.nav{  
    z-index: 1;
    display: flex;
    width: 100%;
    }
.menu-list{
    width: 100%;
    margin: 0;
    padding:0;
    list-style: none;
    display: flex; 
    justify-content: space-between;
    
}
 
.menu-list:nth-child(2){justify-content: flex-start;
}

.menu-list:nth-child(3){justify-content: center;
                        }
.menu-list:nth-child(3) .menu__item{padding-top: 1rem;
                        }         
.menu-list:nth-child(4){justify-content: flex-end;
                        }
.menu-list:nth-child(4) .menu__item{padding-top: 1rem;  
                        }                        


.menu__item{
    text-align: center;
    flex: 1 1 1%;
    border-left: solid 0.1px #fff;
    background: rgba(0, 0, 0, 0.3);
    
    
}
.menu__item:hover{
    cursor: pointer;
     }
.item__link{text-decoration: none;
            color: #fff;
            flex: 1 1 1%;
            padding: 12% 35% 45% 30%;
             
            
            }
.item__link:hover{
 
cursor: pointer;
background: rgba(0, 0, 0, 0.7);}
.menu-list:nth-child(3) .menu__item:nth-child(1) .item__link{ padding: 12%  36% 45%;}

.menu-list:nth-child(3) .menu__item:nth-child(2) .item__link{  padding: 12%  26% 45%;}
.menu-list:nth-child(3) .menu__item:nth-child(3) .item__link{  padding: 12%  27% 45%;}

.menu-list:nth-child(4) .menu__item:nth-child(3){background: rgba(0, 0, 0, 0.3);}
.menu-list:nth-child(4) .menu__item:nth-child(3):hover{background: rgba(0, 0, 0, 0.7);}
.menu-list:nth-child(4) .menu__item:nth-child(3) .--boton{  padding: 12%  42% 30%;}
.menu-list:nth-child(4) .menu__item:nth-child(2) .item__link {  padding: 12%  47% 45%;}
/*estilos carrito */
.link__icon{ 
            width: 20%;
            z-index: 0;
            background: rgba(0, 0, 0, 0.4);
            border-bottom-right-radius:20% ;
            }
/*estilos banner */
.head__banner{

    z-index:-1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
/*estilos titulo */
.link__titulo{
 
 letter-spacing: 0.4px;
 font-style: italic;
 text-transform: capitalize;
 background: -webkit-linear-gradient(#333,#eee);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
@media(width:375px){
    .nav{display: block;}
    .menu__item{
        border-top:solid 0.1px #fff;
    }
}
@media(width:320px){
    .nav{display: block;}
 
    
}

@media(width:768px){
    .nav{display: block;}
.menu-list{display: flex;
    flex-direction: column;}
    .menu__item{
        border-top:solid 0.1px #fff;
    }
}